
body { 
    font-size: 12px;
    font-family: monospace;
    font-wieght: bold;
}

text.shadow {
    stroke: #fff;
    stroke-width: 2.5px;
    opacity: 0.9;
}

path { 
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

path line1 { 
    stroke: darkblue;
    stroke-width: 1;
    fill: none;
}

path line2 { 
    stroke: darkred;
    stroke-width: 1;
    fill: none;
}

.axis text {
    font: 10px sans-serif;
    stroke-width: 0px;
    shape-rendering: crispEdges;
}

.axis path {
    fill: none;
    stroke: none;
    stroke-width: 0px;
    shape-rendering: crispEdges;
}

.axis .tick {
    stroke: lightgrey;
    stroke-width: 0.8px;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.area {
    fill: none;
    stroke-width: 0;
}